@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@400;600;700;900&display=swap';
*,
*:before,
*:after {
    box-sizing: inherit
}

* {
    scroll-behavior: inherit!important
}

html,
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box
}

body {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #757f95;
    line-height: 1.8
}

a {
    color: #031f4b;
    display: inline-block
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none
}

a:hover {
    color: #0049d0
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #031f4b;
    margin: 0;
    font-weight: 600;
    font-family: titillium web, sans-serif;
    line-height: 1.2
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 22px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

p {
    margin: 0
}

.img,
img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    height: auto
}

label {
    color: #999;
    cursor: pointer;
    font-weight: 400
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none
}

::-moz-selection {
    background: #555;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #555;
    color: #fff;
    text-shadow: none
}

*::-moz-placeholder {
    color: #999;
    font-size: 16px;
    opacity: 1
}

*::placeholder {
    color: #999;
    font-size: 16px;
    opacity: 1
}

.preloader {
    background: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999
}

.loader {
    width: 40px;
    height: 40px;
    position: relative;
    top: calc(50% - 30px);
    left: calc(50% - 20px)
}

.loader-box-1,
.loader-box-2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader-bounce 2s infinite ease-in-out
}

.loader-box-2 {
    animation-delay: -1s
}

@keyframes loader-bounce {
    0%,
    100% {
        transform: scale(0)
    }
    50% {
        transform: scale(1)
    }
}

.ovrflow-hidden {
    overflow: hidden
}

.text-right {
    text-align: right
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.c-pd {
    padding: 0 7rem
}

.s-pd {
    padding: 0 12rem
}

.h-100 {
    height: 100%
}

.h-100vh {
    height: 100vh
}

.bg {
    background-color: #eff2f5
}

.site-heading {
    margin-bottom: 50px
}

.site-title-tagline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: red;
    position: relative
}

.site-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 48px;
    color: #031f4b;
    margin-top: 5px;
    margin-bottom: 0
}

.site-title span {
    color: red
}

.site-heading p {
    font-size: 16px
}

@media all and (max-width:767px) {
    .site-title {
        font-size: 35px
    }
}

.pb-140 {
    padding-bottom: 140px
}

.pd-50 {
    padding: 50px 0
}

.py-120 {
    padding: 120px 0
}

.pt-120 {
    padding-top: 120px
}

.pb-120 {
    padding-bottom: 120px
}

.pt-0 {
    padding-top: 0
}

.pt-10 {
    padding-top: 10px
}

.pt-20 {
    padding-top: 20px
}

.pt-30 {
    padding-top: 30px
}

.pt-40 {
    padding-top: 40px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-70 {
    padding-top: 70px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pb-0 {
    padding-bottom: 0
}

.pb-10 {
    padding-bottom: 10px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.mt-0 {
    margin-top: 0
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-60 {
    margin-top: 60px
}

.mt-70 {
    margin-top: 70px
}

.mt-80 {
    margin-top: 80px
}

.mt-90 {
    margin-top: 90px
}

.mt-100 {
    margin-top: 100px
}

.mb-0 {
    margin-bottom: 0
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.mr-300 {
    margin-right: 300px
}

.ml-300 {
    margin-left: 300px
}

.pos-rel {
    position: relative;
    z-index: 1
}

.theme-btn {
    font-size: 16px;
    color: #fff;
    padding: 7px 8px 7px 18px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    overflow: hidden;
    border: none;
    background: red;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    transition: all .5s ease-in-out;
    z-index: 1
}

.theme-btn:hover {
    color: #fff;
    background: #031f4b
}

.theme-btn i {
    height: 36px;
    width: 36px;
    line-height: 36px;
    color: red;
    background: #fff;
    margin-left: 12px;
    border-radius: 50px;
    transition: all .5s ease-in-out
}

.theme-btn:hover i {
    color: #031f4b
}

.theme-btn2 {
    color: #fff;
    background: #031f4b
}

.theme-btn2 i {
    color: #031f4b;
    background: #fff
}

.theme-btn2:hover {
    background: red
}

.theme-btn2:hover i {
    color: red
}

@media(min-width:1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1185px
    }
}

#scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 22px;
    border: none;
    outline: none;
    background: red;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    transition: all .5s ease-in-out
}

.header-top {
    padding: 10px 0;
    position: relative;
    background: #031f4b;
    z-index: 1
}

.header-top::before {
    content: "";
    position: absolute;
    background: red;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 420px;
    height: 101%;
    right: 0;
    top: 0;
    z-index: -1
}

.header-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-top-contact ul {
    display: flex;
    align-items: center;
    gap: 25px
}

.header-top-contact ul li a {
    color: #fff;
    font-weight: 400
}

.header-top-contact ul li a i {
    margin-right: 10px;
    color: red
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 15px
}

.header-top-social a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: red;
    font-size: 16px;
    background: #fff;
    text-align: center;
    margin-left: 5px;
    border-radius: 50px;
    transition: all .5s ease-in-out
}

.header-top-social a:hover {
    background: #031f4b;
    color: #fff
}

.header-top-account a {
    color: #fff;
    margin-right: 20px
}

.header-top-account a i {
    margin-right: 8px
}

@media all and (max-width:1199px) {
    .header-top-account {
        display: none
    }
    .header-top::before {
        width: 270px
    }
    .header-top::after {
        width: 260px
    }
}

@media all and (max-width:992px) {
    .header-top {
        display: none
    }
}

.main {
    margin-top: 0
}

@media all and (min-width:992px) {
    .navbar .nav-item .nav-link {
        margin-right: 22px;
        padding: 33px 0;
        font-size: 16px;
        font-weight: 600;
        color: #031f4b;
        text-transform: uppercase
    }
    .navbar .nav-item:last-child .nav-link {
        margin-right: 0
    }
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
        padding: 15px;
        border: none;
        left: -15px;
        border-radius: 12px;
        width: 220px;
        box-shadow: 0 0 50px 0 rgb(32 32 32/15%)
    }
    .navbar .nav-item .dropdown-menu::before {
        content: "\f0d8";
        position: absolute;
        font-family: "font awesome 5 pro";
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        top: -50px;
        left: 20px
    }
    .navbar .nav-item .dropdown-menu li {
        border-bottom: 1px solid #eee
    }
    .navbar .nav-item .dropdown-menu li:last-child {
        margin-bottom: 0;
        border-bottom: none
    }
    .navbar .nav-item .dropdown-menu .dropdown-item {
        font-size: 15px;
        font-weight: 500;
        padding: 8px 15px;
        color: #031f4b;
        position: relative;
        text-transform: uppercase;
        transition: all .5s ease-in-out
    }
    .navbar .nav-item .dropdown-menu .dropdown-item:hover {
        background: 0 0;
        color: red;
        padding-left: 25px
    }
    .navbar .nav-item .nav-link {
        position: relative;
        z-index: 1
    }
    .navbar .nav-item .nav-link.active,
    .navbar .nav-item:hover .nav-link {
        color: red
    }
    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg)
    }
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto
    }
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%
    }
    .navbar .dropdown-menu.fade-up {
        top: 140%
    }
    .header-nav-right {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 30px
    }
    .header-nav-search a {
        color: #1f242e;
        font-size: 18px;
        padding: 5px
    }
    .header-nav-search a:hover {
        color: red
    }
    .navbar .header-btn {
        padding-top: 8px
    }
    .header-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: 18px
    }
    .header-phone-icon {
        width: 45px;
        height: 45px;
        background: red;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        font-size: 22px
    }
    .header-phone-content span {
        color: #fff
    }
    .header-phone-content a {
        color: #fff
    }
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999
}

.navbar.fixed-top {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .17);
    animation: slide-down .7s
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}

.navbar.fixed-top .nav-item .nav-link::before {
    color: #031f4b
}

.navbar .navbar-brand .logo-display {
    display: block
}

.navbar .navbar-brand .logo-scrolled {
    display: none
}

.navbar.fixed-top .navbar-brand .logo-display {
    display: none
}

.navbar.fixed-top .navbar-brand .logo-scrolled {
    display: block
}

button.navbar-toggler {
    font-size: 3.5rem;
    padding: 0;
    margin: 0
}

button.navbar-toggler:focus {
    outline: none;
    box-shadow: none
}

.navbar-toggler-icon {
    display: inline-block;
    width: inherit;
    height: inherit
}

.navbar-brand img {
    width: 160px
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 5px;
    vertical-align: 1.5px;
    font-family: 'font awesome 5 pro';
    content: "\f067";
    font-weight: 600;
    border: none;
    font-size: 11px
}

.dropdown-toggle:hover::after {
    content: "\f068"
}

.mobile-menu-right {
    display: flex;
    align-items: center
}

@media all and (max-width:1199px) {
    .navbar .header-btn {
        display: none
    }
    .navbar .header-btn {
        display: none
    }
    .header-phone {
        display: none
    }
}

@media all and (max-width:991px) {
    .navbar {
        top: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        position: fixed
    }
    .navbar-brand {
        padding-left: 10px
    }
    .navbar-brand img {
        width: 180px
    }
    .navbar-collapse {
        max-height: 290px;
        overflow: hidden;
        overflow-y: auto;
        padding: 0 20px;
        background-color: #fff
    }
    .dropdown-toggle::after {
        float: right
    }
    .navbar .nav-item .nav-link {
        color: #031f4b;
        font-weight: 700;
        transition: all .5s ease-in-out
    }
    .navbar .nav-item .nav-link:hover {
        color: red!important
    }
    .navbar-toggler-icon {
        font-size: 32px;
        color: #031f4b;
        font-weight: 500;
        padding-right: 10px;
        margin-bottom: 10px
    }
    .navbar .dropdown-menu {
        border-radius: 10px
    }
    .navbar.fixed-top .navbar-toggler-icon {
        color: #031f4b
    }
    .header-nav-right {
        display: none
    }
}

.hero-single {
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.hero-single::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(3, 31, 75, .85);
    left: 0;
    top: 0;
    z-index: -1
}

.hero-single .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.hero-single .hero-content .hero-title {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase
}

.hero-single .hero-content .hero-title span {
    color: red
}

.hero-single .hero-content .hero-sub-title {
    color: red;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase
}

.hero-single .hero-content p {
    color: #fff;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px
}

.hero-single .hero-content .hero-btn {
    gap: 2rem;
    display: flex;
    margin-top: 1rem;
    justify-content: start
}

.hero-title {
    font-weight: 700;
    margin: 20px 0
}

.hero-sub-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1
}

.hero-single .video-btn {
    display: flex;
    justify-content: center;
    align-items: center
}

.hero-slider.owl-theme .owl-nav {
    margin-top: 0
}

.hero-slider.owl-theme .owl-nav [class*=owl-] {
    color: red;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .4);
    display: inline-block;
    cursor: pointer;
    height: 55px;
    width: 55px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    transition: all .5s ease-in-out
}

.hero-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: red
}

.hero-slider.owl-theme .owl-nav .owl-prev {
    left: 40px
}

.hero-slider.owl-theme .owl-nav .owl-next {
    right: 40px
}

.hero-slider.owl-theme .owl-nav .owl-prev,
.hero-slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

@media all and (max-width:1199px) {
    .hero-single .hero-content .hero-title {
        font-size: 37px
    }
    .hero-slider.owl-theme .owl-nav .owl-prev,
    .hero-slider.owl-theme .owl-nav .owl-next {
        top: unset;
        bottom: 5px!important
    }
    .hero-slider.owl-theme .owl-nav .owl-next {
        left: 120px
    }
}

@media all and (max-width:991px) {
    .hero-single .hero-content .hero-title {
        font-size: 35px
    }
    .hero-single {
        padding-top: 190px
    }
}

@media all and (max-width:767px) {
    .hero-single .hero-content .hero-sub-title {
        font-size: 18px
    }
    .hero-single .hero-content .hero-btn {
        gap: 1rem
    }
}

.play-btn {
    display: inline-block;
    padding: 0;
    height: 75px;
    width: 75px;
    line-height: 75px;
    font-size: 20px;
    text-align: center;
    background: red;
    color: #fff!important;
    position: absolute;
    border-radius: 50%;
    z-index: 2
}

.play-btn i::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: red;
    border-radius: 50px;
    animation: ripple-wave 1s linear infinite;
    -webkit-transform: scale(1);
    transform: scale(1)
}

@keyframes ripple-wave {
    0% {
        opacity: .8;
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

.about-area {
    position: relative;
    display: block
}

.about-left {
    padding: 20px;
    position: relative
}

.about-left::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 0;
    background: red;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: -1
}

.about-img img {
    border-radius: 10px;
    width: 100%
}

.about-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1
}

.about-experience {
    background: red;
    position: absolute;
    left: 50px;
    bottom: 0;
    width: 160px;
    height: 160px;
    padding-top: 35px;
    border-radius: 50%;
    text-align: center
}

.about-experience::before {
    content: "";
    position: absolute;
    border: 2px dashed #fff;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%
}

.about-experience h1 {
    font-weight: 700;
    font-size: 45px;
    color: #fff
}

.about-experience .about-experience-text {
    color: #fff;
    font-weight: 500
}

.about-right {
    position: relative;
    display: block
}

.about-list-wrapper {
    position: relative;
    display: block;
    margin-top: 32px;
    margin-bottom: 40px
}

.about-list {
    position: relative;
    display: block
}

.about-list li {
    position: relative;
    display: flex;
    align-items: center
}

.about-list li+li {
    margin-top: 10px
}

.about-list li .icon {
    position: relative;
    display: flex;
    align-items: center
}

.about-list li .icon span {
    font-size: 20px;
    color: red
}

.about-list li .text {
    margin-left: 16px
}

.about-list li .text p {
    margin: 0
}

@media all and (max-width:991px) {
    .about-right {
        margin-top: 50px
    }
}

.feature-item {
    padding: 20px;
    background: #031f4b;
    position: relative;
    border-radius: 14px;
    margin-bottom: 25px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out
}

.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
    position: relative;
    transition: all .5s ease-in-out;
    z-index: 1
}

.feature-icon::before {
    content: "";
    position: absolute;
    transform: skew(8deg);
    background: red;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    z-index: -1
}

.feature-icon i {
    font-size: 40px;
    color: #fff
}

.feature-content p {
    margin-top: 10px;
    color: #fff
}

.feature-content h4 a {
    color: #fff;
    font-size: 25px
}

.feature-item.active,
.feature-item:hover {
    background: red
}

.feature-item.active .feature-icon::before,
.feature-item:hover .feature-icon::before {
    background: #031f4b
}

.service-area {
    position: relative;
    overflow: hidden
}

.service-item {
    position: relative;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out
}

.service-img {
    margin-top: -50px
}

.service-img img {
    border-radius: 10px
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    line-height: 1;
    font-size: 48px;
    color: #fff;
    float: right;
    position: relative;
    margin-top: -40px;
    margin-right: 20px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out;
    z-index: 1
}

.service-icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid #fff;
    background: red;
    border-radius: 20px;
    transform: skew(8deg);
    z-index: -1
}

.service-item:hover .service-icon {
    transform: rotate(360deg)
}

.service-content {
    margin-top: 40px
}

.service-title {
    margin-top: 5px
}

.service-title a {
    margin-bottom: 10px;
    font-size: 25px
}

.service-title a:hover {
    color: red!important
}

.service-arrow {
    margin-top: 20px
}

.service-arrow .service-read-btn {
    font-weight: 500;
    color: red;
    border: 2px solid red;
    padding: 7px 18px;
    border-radius: 10px
}

.service-arrow .service-read-btn:hover {
    color: #fff;
    background: red
}

.service-arrow a i {
    margin-left: 8px
}

.category-list i {
    color: red
}

.service-single-list i {
    color: red;
    margin-right: 10px
}

.service-download a {
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 50px;
    color: #031f4b;
    display: block;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all .5s ease-in-out
}

.service-download a i {
    margin-right: 10px
}

.service-download a:hover {
    background-color: red;
    color: #fff
}

.service-details img {
    border-radius: 10px
}

.service-quote .quote-content {
    margin-left: 0;
    padding: 30px;
    border-radius: 10px;
    background: #031f4b
}

.service-quote .quote-content h1 {
    font-size: 28px
}

.service-single-item {
    background: #eff2f5;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px
}

.service-single-item i {
    font-size: 60px;
    color: red
}

.service-single-item h6 {
    font-size: 20px;
    margin-bottom: 15px
}

.coaching-item {
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.coaching-item img {
    border-radius: 10px
}

.coaching-content {
    padding: 15px
}

.coaching-meta {
    margin-bottom: 15px
}

.coaching-meta ul {
    display: flex;
    gap: 15px
}

.coaching-meta ul li i {
    margin-right: 5px;
    color: red
}

.coaching-content h4 a:hover {
    color: red
}

.coaching-content p {
    margin: 15px 0
}

.coaching-content .theme-btn {
    margin-top: 15px
}

.coaching-slider.owl-theme .owl-nav {
    margin-top: 0
}

.coaching-slider.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: red;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    line-height: 47px;
    text-align: center;
    transition: all .5s ease-in-out
}

.coaching-slider.owl-theme .owl-nav .owl-prev {
    left: 0;
    opacity: 0
}

.coaching-slider.owl-theme .owl-nav .owl-next {
    right: 0;
    opacity: 0
}

.coaching-slider.owl-theme .owl-nav .owl-prev,
.coaching-slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.coaching-slider:hover .owl-nav .owl-prev {
    left: -70px;
    opacity: 1
}

.coaching-slider:hover .owl-nav .owl-next {
    right: -70px;
    opacity: 1
}

.coaching-slider .owl-dots {
    text-align: center;
    margin-top: 30px
}

.coaching-slider .owl-dots .owl-dot span {
    background: rgba(255, 0, 0, .5);
    margin: 5px;
    border-radius: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    display: inline-block;
    transition: all .5s ease-in-out
}

.coaching-slider .owl-dots .owl-dot.active span {
    background-color: red
}

@media all and (max-width:1199px) {
    .coaching-slider.owl-theme .owl-nav {
        display: none
    }
}

.cta-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 90px 0;
    z-index: 1
}

.cta-banner::before {
    content: "";
    position: absolute;
    background: rgba(3, 61, 117, .8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1
}

.cta-content {
    text-align: center;
    color: #fff
}

.cta-content h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px
}

.video-content {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px
}

.video-content::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    background: rgba(23, 27, 42, .3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 600px
}

.video-wrapper img {
    border-radius: 12px
}

.video-area .play-btn {
    display: inline-block;
    padding: 0;
    height: 75px;
    width: 75px;
    text-align: center;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media all and (max-width:767px) {
    .video-wrapper {
        height: 250px
    }
}

.choose-area {
    position: relative;
    background: #031f4b
}

.choose-content {
    padding: 50px 30px 50px 0
}

.choose-img {
    background-image: url(../img/choose/01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-right: -200px
}

.choose-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px
}

.choose-item-icon i {
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 35px
}

.choose-item-info h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px
}

.choose-item-info p {
    color: #fff
}

.choose-img .video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

.country-item {
    background: #fff;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.country-img img {
    border-radius: 10px
}

.country-flag {
    position: relative;
    width: 80px;
    border-radius: 15px;
    border: 5px solid #fff;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.country-flag img {
    border-radius: 10px
}

.country-content {
    padding: 15px;
    text-align: center
}

.country-content h4 a:hover {
    color: red
}

.country-content p {
    margin: 15px 0
}

.country-read-btn {
    font-weight: 500
}

.country-read-btn:hover {
    color: red
}

.country-slider.owl-theme .owl-nav {
    margin-top: 0
}

.country-slider.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: red;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    line-height: 47px;
    text-align: center;
    transition: all .5s ease-in-out
}

.country-slider.owl-theme .owl-nav .owl-prev {
    left: 0;
    opacity: 0
}

.country-slider.owl-theme .owl-nav .owl-next {
    right: 0;
    opacity: 0
}

.country-slider.owl-theme .owl-nav .owl-prev,
.country-slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.country-slider:hover .owl-nav .owl-prev {
    left: -70px;
    opacity: 1
}

.country-slider:hover .owl-nav .owl-next {
    right: -70px;
    opacity: 1
}

.country-slider .owl-dots {
    text-align: center;
    margin-top: 30px
}

.country-slider .owl-dots .owl-dot span {
    background: rgba(255, 0, 0, .5);
    margin: 5px;
    border-radius: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    display: inline-block;
    transition: all .5s ease-in-out
}

.country-slider .owl-dots .owl-dot.active span {
    background-color: red
}

@media all and (max-width:1199px) {
    .country-slider.owl-theme .owl-nav {
        display: none
    }
}

.skill-img img {
    border-radius: 10px
}

.skill-right .skill-details {
    margin-bottom: 25px;
    margin-top: 5px
}

.progress-box {
    margin-bottom: 30px;
    position: relative;
    z-index: 1
}

.progress-box:last-child {
    margin-bottom: 0
}

.progress-box h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px
}

.progress-box .progress {
    height: 8px;
    background-color: #e9ecfb;
    border-radius: 10px
}

.progress-box .progress .progress-bar {
    background-color: red
}

@media all and (max-width:991px) {
    .skill-right .site-heading {
        font-size: 30px
    }
    .skill-img img {
        width: 100%
    }
}

.testimonial-area {
    position: relative;
    z-index: 1
}

.testimonial-area::before {
    content: "";
    position: absolute;
    background-image: url(../img/testimonial/map.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    width: 100%;
    height: 100%;
    z-index: -1
}

.testimonial-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.testimonial-author-img {
    width: 80px;
    height: 80px;
    margin-top: -50px;
    position: absolute;
    right: 30px;
    border: 2px dashed red;
    border-radius: 50px;
    padding: 3px
}

.testimonial-author-img img {
    border-radius: 50%
}

.testimonial-author-info {
    margin-top: 20px
}

.testimonial-rate {
    color: red;
    margin-bottom: 20px
}

.testimonial-area .owl-dots {
    text-align: center;
    margin-top: 30px
}

.testimonial-area .owl-dots .owl-dot span {
    background: rgba(255, 0, 0, .5);
    margin: 5px;
    border-radius: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    display: inline-block;
    transition: all .5s ease-in-out
}

.testimonial-area .owl-dots .owl-dot.active span {
    background-color: red
}

.testimonial-item span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    border-radius: 50px;
    right: 30px;
    bottom: 30px;
    font-size: 35px;
    color: red;
    display: block;
    text-align: center
}

.counter-area {
    position: relative
}

.counter-wrapper {
    background: red;
    border-radius: 12px;
    background-image: url(../img/counter/01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1
}

.counter-wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    opacity: .75;
    border-radius: 12px;
    left: 0;
    top: 0;
    z-index: -1
}

.counter-box {
    text-align: center;
    padding: 45px 35px;
    position: relative;
    z-index: 1
}

.counter-box .icon {
    font-size: 65px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1
}

.counter-box .counter {
    display: block;
    line-height: 1;
    color: #fff;
    font-size: 50px;
    font-weight: 600
}

.counter-box .title {
    color: #fff;
    margin-top: 15px;
    font-size: 18px
}

@media all and (max-width:991px) {
    .counter-area .counter-box {
        margin-bottom: 25px
    }
}

@media all and (max-width:767px) {
    .counter-area {
        margin-top: 0
    }
}

.blog-item {
    margin-bottom: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    transition: all .5s ease-in-out
}

.blog-item:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.blog-item-img {
    padding: 5px
}

.blog-item-img img {
    border-radius: 10px
}

.blog-item-info {
    padding: 23px 30px 20px
}

.blog-item-meta ul {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #e6e8eb;
    padding-bottom: 18px
}

.blog-item-meta ul li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    color: #031f4b
}

.blog-item-meta ul li i {
    margin-right: 5px;
    color: red
}

.blog-title {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize
}

.blog-item-info p {
    margin-bottom: 25px
}

.blog-item-info a:hover {
    color: red
}

.blog-thumb-img {
    margin-bottom: 20px
}

.blog-single-wrapper img {
    border-radius: 10px
}

.blog-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.blog-meta .blog-meta-left ul {
    display: flex;
    align-items: center;
    gap: 20px
}

.blog-meta i {
    margin-right: 5px;
    color: red
}

.blog-meta a {
    color: #66788a
}

.blog-meta a:hover {
    color: red
}

.blog-details-title {
    font-size: 34px
}

.blockqoute {
    border-left: 5px solid red;
    background: #eff2f5;
    padding: 30px;
    font-size: 17px;
    font-style: italic;
    margin: 20px 0
}

.blockqoute-author {
    margin-top: 20px;
    padding-left: 60px;
    position: relative
}

.blockqoute-author::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background: #000;
    left: 0;
    top: 10px
}

.blog-details-tags {
    display: flex;
    align-items: center;
    gap: 20px
}

.blog-details-tags ul {
    display: flex;
    align-items: center;
    gap: 15px
}

.blog-details-tags ul a {
    background: #eff2f5;
    border-radius: 50px;
    padding: 5px 18px;
    transition: all .5s ease-in-out
}

.blog-details-tags ul a:hover {
    background: red;
    color: #fff
}

.blog-author {
    display: flex;
    justify-content: start;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    margin: 50px 0;
    padding: 20px
}

.blog-author-img {
    border: 2px solid red;
    padding: 5px;
    width: 250px
}

.author-name {
    font-size: 22px;
    color: #031f4b;
    margin: 8px 0
}

.author-info {
    padding: 0 20px
}

.author-social {
    margin-top: 10px
}

.author-social a {
    margin-right: 10px;
    color: #031f4b;
    transition: all .5s ease-in-out
}

.author-social a:hover {
    color: red
}

.blog-comments {
    margin-bottom: 50px
}

.blog-comments-wrapper {
    margin: 30px 0
}

.blog-comments-single {
    display: flex;
    justify-content: start;
    align-items: center
}

.blog-comments-single img {
    border-radius: 50%
}

.blog-comments-content {
    padding: 20px 30px
}

.blog-comments-content span {
    font-size: 14px
}

.blog-comments-content a {
    font-weight: 600;
    margin-top: 5px
}

.blog-comments-content a:hover {
    color: red
}

.blog-comments-reply {
    margin-left: 50px
}

.blog-comments-form {
    padding: 30px;
    background: #eff2f5;
    border-radius: 10px
}

.blog-comments-form h4 {
    margin-bottom: 20px
}

.blog-comments-form .form-group {
    margin-bottom: 20px
}

.blog-comments-form .form-control {
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: none;
    transition: all .5s ease-in-out
}

.blog-comments-form .form-control:focus {
    border-color: red
}

@media all and (max-width:767px) {
    .blog-meta {
        flex-direction: column;
        font-size: 15px
    }
    .blog-meta .blog-meta-left ul {
        gap: 10px
    }
    .blog-details-tags {
        flex-direction: column;
        align-items: flex-start
    }
    .blog-author {
        flex-direction: column;
        text-align: center;
        padding: 25px 0 0
    }
    .blog-comments-single {
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
        box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
        margin-bottom: 30px;
        border-radius: 10px
    }
    .blog-comments-reply {
        margin-left: 0
    }
}

.widget {
    background: #eff2f5;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px
}

.widget .widget-title {
    color: #031f4b;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative
}

.widget .widget-title::before {
    position: absolute;
    content: '';
    width: 15px;
    border-bottom: 3px solid red;
    bottom: 0;
    left: 0
}

.widget .widget-title::after {
    position: absolute;
    content: '';
    width: 30px;
    border-bottom: 3px solid red;
    bottom: 0;
    left: 24px
}

.widget .search-form .form-control {
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: none
}

.widget .search-form {
    position: relative
}

.widget .search-form .form-control:focus {
    border-color: red
}

.widget .search-form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 18px 6px;
    background: 0 0;
    border: none;
    color: #6c7c89
}

.widget .category-list a {
    display: block;
    padding: 10px 0;
    font-weight: 500;
    border-bottom: 1px solid #ced4da;
    transition: all .5s ease-in-out
}

.widget .category-list a:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.widget .category-list a:hover {
    padding-left: 10px;
    color: red
}

.widget .category-list a i {
    margin-right: 5px;
    color: red
}

.widget .category-list a span {
    float: right
}

.widget .recent-post-single {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px
}

.widget .recent-post-img {
    margin-right: 20px
}

.widget .recent-post-img img {
    width: 100px;
    border-radius: 10px
}

.widget .recent-post-bio h6 {
    font-size: 18px
}

.widget .recent-post-bio span {
    font-size: 14px
}

.widget .recent-post-bio span i {
    margin-right: 5px
}

.widget .recent-post-bio h6 a:hover {
    color: red
}

.widget .social-share-link a {
    width: 35px;
    height: 35px;
    line-height: 31px;
    border-radius: 50px;
    border: 2px solid #031f4b;
    color: #031f4b;
    text-align: center;
    margin-right: 5px;
    transition: all .5s ease-in-out
}

.widget .social-share-link a:hover {
    background: #031f4b;
    color: #fff
}

.widget .tag-list a {
    background: #fff;
    padding: 5px 18px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50px;
    display: inline-block;
    transition: all .5s ease-in-out
}

.widget .tag-list a:hover {
    background-color: red;
    color: #fff
}

.contact-wrapper {
    padding: 50px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
    position: relative
}

.contact-form {
    padding: 0 40px
}

.contact-form-header {
    margin-bottom: 30px;
    color: #031f4b
}

.contact-form-header h2 {
    color: #031f4b;
    font-size: 30px;
    margin-bottom: 10px
}

.contact-form .form-group {
    margin-bottom: 25px
}

.contact-form .form-group .form-control {
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: none;
    transition: all .5s ease-in-out
}

.contact-form .form-group .form-control:focus {
    border-color: red
}

.contact-map {
    margin-bottom: -9px
}

.contact-map iframe {
    width: 100%;
    height: 450px
}

.contact-content {
    margin-bottom: 50px
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px
}

.contact-info-icon i {
    font-size: 25px;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    text-align: center;
    background: red
}

.contact-info h5 {
    color: #031f4b;
    margin-bottom: 5px
}

.contact-info p {
    color: #031f4b
}

@media all and (max-width:991px) {
    .contact-wrapper {
        padding: 50px 20px
    }
    .contact-form {
        padding: 0
    }
    .contact-info {
        padding: 0;
        margin-top: 50px
    }
}

.team-area {
    position: relative;
    overflow: hidden
}

.team-item {
    border-radius: 15px;
    margin-bottom: 55px;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    position: relative;
    transition: all .5s ease-in-out
}

.team-item:hover {
    transform: translateY(-10px)
}

.team-item img {
    border-radius: 10px
}

.team-content {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -35px;
    background: #fff;
    border-radius: 10px;
    padding: 4px 10px 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 3px 24px rgb(0 0 0/10%)
}

.team-content i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: red;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out
}

.team-item:hover .team-content i {
    background: #031f4b
}

.team-bio {
    padding-top: 15px;
    padding-bottom: 10px
}

.team-bio h5 {
    font-size: 22px
}

.team-bio h5 a:hover {
    color: red
}

.team-bio span {
    text-transform: capitalize;
    font-size: 16px;
    color: red;
    font-weight: 500
}

.team-social {
    position: absolute;
    margin-bottom: 10px;
    background: red;
    padding: 6px 0;
    border-radius: 10px;
    text-align: center;
    bottom: 80px;
    right: -20px;
    opacity: 0;
    transition: all .5s ease-in-out
}

.team-item:hover .team-social {
    opacity: 1;
    right: 20px
}

.team-social a {
    display: block;
    color: #fff;
    padding: 4px 15px
}

.team-social a:hover {
    background: #fff;
    color: red
}

.quote-area {
    position: relative;
    background-image: url(../img/quote/01.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.quote-content {
    padding: 50px;
    background: rgba(3, 31, 75, .8)
}

.quote-content {
    max-width: 540px;
    margin-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px
}

.quote-content h1,
.quote-content p {
    color: #fff
}

.quote-form {
    margin-top: 30px
}

.quote-form .form-group {
    margin-bottom: 20px
}

.quote-form .form-select,
.quote-form .form-control {
    border: none;
    padding: 15px;
    box-shadow: none;
    border-radius: 8px;
    color: #6c757d
}

.quote-form .theme-btn {
    margin-top: 25px
}

.quote-form .theme-btn:hover {
    color: #d81324;
    background: #fff
}

@media all and (max-width:1199px) {
    .quote-content {
        max-width: unset;
        padding-right: 40px
    }
}

@media all and (max-width:991px) {
    .quote-img {
        display: none
    }
}

.faq-area .accordion-item {
    border: none;
    margin-bottom: 30px;
    border-radius: 10px!important;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.faq-area .accordion-item span {
    width: 45px;
    height: 45px;
    margin-right: 15px
}

.faq-area .accordion-item i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    background: red;
    text-align: center;
    color: #fff
}

.faq-area .accordion-button:not(.collapsed) {
    color: red;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 -1px 0 rgb(0 0 0/13%)
}

.accordion-button {
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 18px;
    color: #031f4b;
    box-shadow: none!important
}

.accordion-button:not(.collapsed) {
    border-bottom: 1px dashed red
}

.accordion-button:not(.collapsed)::after {
    background-image: url(data:image/svg+xml;base64,JTNjc3ZnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zycgdmlld0JveD0nMCAwIDE2IDE2JyBmaWxsPSclMiMxODIzMzMnJTNlJTNjcGF0aCBmaWxsLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xLjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMEw4IDEwLjI5M2w1LjY0Ni01LjY0N2EuNS41IDAgMCAxIC43MDguNzA4bC02IDZhLjUuNSAwIDAgMS0uNzA4IDBsLTYtNmEuNS41IDAgMCAxIDAtLjcwOHonLyUzZSUzYy9zdmclM2U=)
}

@media all and (max-width:991px) {
    .faq-left {
        margin-bottom: 50px
    }
    .accordion-button {
        font-size: 16px
    }
}

.partner-area .partner-wrapper img {
    padding: 20px
}

.site-breadcrumb {
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 1
}

.site-breadcrumb::before {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 10, 22, .7);
    content: ''
}

.site-breadcrumb .breadcrumb-title {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase
}

.site-breadcrumb .breadcrumb-menu {
    position: relative;
    z-index: 1
}

.site-breadcrumb .breadcrumb-menu li {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize
}

.site-breadcrumb .breadcrumb-menu li a {
    color: #fff;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.site-breadcrumb .breadcrumb-menu li.active {
    color: red
}

.site-breadcrumb .breadcrumb-menu li::before {
    position: absolute;
    content: '\f101';
    font-family: 'font awesome 5 pro';
    right: -21px;
    top: 1px;
    text-align: center;
    font-size: 16px;
    color: #fff
}

.site-breadcrumb .breadcrumb-menu li:first-child {
    margin-left: 0
}

.site-breadcrumb .breadcrumb-menu li:last-child:before {
    display: none
}

.site-breadcrumb .breadcrumb-menu li a:hover {
    color: #ef4d45
}

@media(max-width:991px) {
    .site-breadcrumb {
        padding-top: 240px
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px
}

.pagination .page-link {
    border: none;
    background: #031f4b;
    color: #fff;
    margin: 0 10px;
    border-radius: 10px!important;
    width: 40px;
    height: 40px;
    line-height: 27px;
    text-align: center;
    transition: all .5s ease-in-out
}

.pagination .page-link:hover,
.pagination .page-item.active .page-link {
    background: red
}

body.rtl-mode {
    direction: rtl
}

body.rtl-mode .item-area {
    direction: ltr
}

body.rtl-mode .price-wrapper {
    direction: rtl
}

@media(min-width:992px) {
    body.rtl-mode .navbar-brand {
        margin-left: 3rem
    }
    body.rtl-mode .navbar .nav-item .nav-link {
        margin-left: 3rem;
        margin-right: 0
    }
}

.login-form {
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.login-form .login-header {
    margin-bottom: 50px
}

.login-form .login-header img {
    width: 200px;
    margin-bottom: 10px
}

.login-form .login-header h3 {
    color: red;
    margin-bottom: 5px;
    font-weight: 600
}

.login-form .login-header p {
    font-size: 20px
}

.login-form .login-footer {
    margin-top: 40px
}

.login-form .login-footer a {
    color: red;
    transition: .5s
}

.login-form .login-footer a:hover {
    color: #031f4b
}

.login-form .form-group {
    margin-bottom: 20px
}

.login-form label {
    color: #031f4b;
    margin-bottom: 5px
}

.login-form .form-group .form-control {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 12px 18px;
    box-shadow: none;
    transition: .5s
}

.login-form .form-group .form-control:focus {
    border-color: red
}

.login-form .form-check-input {
    box-shadow: none
}

.login-form .forgot-pass {
    color: red;
    transition: .5s
}

.login-form .forgot-pass:hover {
    color: #031f4b
}

.login-form .form-check-input {
    margin-top: 6.3px
}

.login-form .form-check-label a {
    color: red;
    transition: .5s
}

.login-form .form-check-label a:hover {
    color: red
}

.form-check-input:checked {
    background-color: red;
    border-color: red
}

@media only screen and (max-width:991px) {
    .login-form {
        padding: 40px 20px
    }
}

.coming-soon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative
}

.coming-soon .container {
    position: relative
}

.coming-soon:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.coming-soon .newsletter-form {
    position: relative;
    margin-top: 30px
}

.coming-soon .newsletter-form .input-newsletter {
    height: 60px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 25px;
    box-shadow: none
}

.coming-soon .newsletter-form button {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    height: auto;
    border: none;
    border-radius: 50px;
    background: red;
    display: inline-block;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    transition: .5s
}

.coming-soon .newsletter-form button:hover {
    background-color: #031f4b;
    color: #fff
}

.coming-social {
    margin-top: 30px;
    text-align: center
}

.coming-social a {
    color: #fff;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50px;
    text-align: center;
    border: 2px solid #fff;
    display: inline-block;
    transition: .5s
}

.coming-social a:hover {
    background: red;
    border-color: red
}

.countdown-wrap {
    margin-top: 30px
}

.countdown-single {
    background: red;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 3px 24px rgb(0 0 0/10%)
}

.countdown-single h2 {
    color: #fff
}

.countdown-single h5 {
    color: #fff
}

.error-wrapper {
    text-align: center
}

.error-wrapper h1 {
    font-size: 200px;
    font-weight: 700;
    color: red
}

.error-wrapper h1 span {
    color: #031f4b
}

.error-wrapper h2 {
    margin-top: 30px;
    margin-bottom: 10px
}

.error-wrapper img {
    width: 100%
}

.error-wrapper .theme-btn {
    margin-top: 30px
}

@media all and (max-width:767px) {
    .error-wrapper h1 {
        font-size: 160px
    }
}

.terms-content:not(:last-child) {
    margin-bottom: 54px
}

.terms-content:first-child {
    margin-top: -3px
}

.terms-content .terms-list {
    margin-top: 37px
}

.terms-content h3 {
    margin-bottom: 23px;
    position: relative
}

.terms-content p:not(:last-child) {
    margin-bottom: 26px
}

.terms-list li:not(:last-child) {
    margin-bottom: 16px
}

.footer-area {
    background: #031f4b;
    background-image: url(../img/shape/01.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1
}

.footer-widget-box {
    margin-bottom: 20px
}

.footer-widget {
    position: relative;
    z-index: 1
}

.footer-logo img {
    width: 170px;
    margin-bottom: 20px
}

.copyright {
    padding: 20px 0;
    background: #00183d
}

.copyright .footer-menu {
    margin: 0;
    padding: 0;
    text-align: right
}

.copyright .footer-menu li {
    display: inline-block;
    margin-left: 25px;
    font-size: 16px
}

.copyright .footer-menu li a {
    color: #f5faff;
    transition: all .5s ease-in-out
}

.copyright .footer-menu li a:hover {
    color: red
}

.copyright .copyright-text {
    color: #f5faff;
    margin-bottom: 0;
    font-size: 16px
}

.copyright .copyright-text a {
    color: red;
    font-weight: 500
}

.footer-widget-title {
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    z-index: 1
}

.footer-widget-title::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 15px;
    height: 3px;
    background-color: red;
    bottom: 0;
    left: 0
}

.footer-widget-title::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 35px;
    height: 3px;
    background-color: red;
    bottom: 0;
    left: 20px
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.footer-list li a {
    color: #fff;
    transition: all .5s ease-in-out
}

.footer-list li a i {
    margin-right: 5px;
    color: red
}

.footer-list li a:hover {
    padding-left: 10px;
    color: red
}

.footer-widget-box p {
    color: #fff;
    padding-right: 18px;
    margin-bottom: 20px
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 30px
}

.footer-social li a i {
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 50px;
    background: red;
    color: #fff;
    transition: all .5s ease-in-out
}

.footer-social li a i:hover {
    background: #fff;
    color: red
}

.footer-newsletter .subscribe-form .form-control {
    border: 2px solid #e8e8e8;
    height: 55px;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    box-shadow: none;
    background-color: transparent
}

.footer-newsletter .subscribe-form .form-control::placeholder {
    color: #f2f3f5;
    opacity: 1
}

.footer-newsletter .subscribe-form .theme-btn {
    margin-top: 20px
}

.footer-contact li {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #f5faff;
    font-size: 16px;
    margin-bottom: 10px
}

.footer-contact li a {
    color: #f5faff;
    -webkit-transition: .3s;
    transition: .3s
}

.footer-contact li i {
    width: 12px;
    height: 30px;
    font-size: 18px;
    margin-right: 15px;
    border-radius: 5px;
    line-height: 31px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    color: red
}

@media all and (max-width:1199px) {
    .footer-widget-box {
        margin-bottom: 50px
    }
}

@media all and (max-width:991px) {
    .footer-widget-wrapper {
        padding-bottom: 0
    }
    .copyright .footer-menu {
        float: left;
        margin-top: 20px;
        text-align: left
    }
    .copyright .footer-menu li {
        margin-left: 0;
        margin-right: 15px
    }
}

@media all and (max-width:767px) {
    .footer-widget-wrapper {
        padding-bottom: 0
    }
}

.search-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    margin-top: -540px;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, .8);
    transition: all 1500ms cubic-bezier(.86, 0, .07, 1);
    transition-timing-function: cubic-bezier(.86, 0, .07, 1)
}

.sidenav-bar-visible .search-popup {
    width: 80%
}

.search-active .search-popup {
    transform: translateY(0%);
    margin-top: 0
}

.search-popup .close-search {
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    border: none;
    margin: 0 auto;
    margin-top: -200px;
    text-align: center;
    background: red;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden
}

.search-active .search-popup .close-search {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition-delay: 1500ms
}

.search-popup form {
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 15px;
    right: 15px;
    margin: -35px auto 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 300ms ease
}

.search-active .search-popup form {
    transform: scaleX(1);
    transition-delay: 1200ms
}

.search-popup .form-group {
    position: relative;
    margin: 0;
    overflow: hidden
}

.search-popup .form-group input[type=text],
.search-popup .form-group input[type=search] {
    position: relative;
    width: 100%;
    height: 70px;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0 100px 0 35px;
    transition: all 500ms ease;
    text-transform: capitalize
}

.search-popup .form-group input[type=submit],
.search-popup .form-group button {
    position: absolute;
    right: 10px;
    top: 7px;
    border-radius: 10px;
    background: red;
    text-align: center;
    font-size: 20px;
    color: #fff!important;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 500ms ease
}

.search-popup .form-group input[type=submit]:hover,
.search-popup .form-group button:hover {
    background: red
}

.search-popup input::placeholder,
.search-popup textarea::placeholder {
    color: #51668a
}

.mobile-search-btn {
    display: none
}

@media all and (max-width:991px) {
    .mobile-search-btn {
        display: block;
        position: absolute;
        right: 20%;
        color: #031f4b;
        font-size: 20px
    }
    .mobile-search-btn:hover {
        color: red
    }
}

@media all and (max-width:767px) {
    .mobile-search-btn {
        right: 20%
    }
}

.home-3 .header-top::before {
    display: none
}

.home-3 .hero-single::before {
    display: none
}

.home-3 .hero-content {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    opacity: .8
}

.home-3 .hero-sub-title {
    color: red!important
}

.home-3 .hero-title {
    color: #031f4b!important
}

.home-3 .hero-title span {
    color: red!important
}

.home-3 .hero-content p {
    color: #031f4b!important
}

.home-3 .hero-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%
}

@media all and (max-width:1199px) {
    .home-3 .navbar::before {
        display: none
    }
    .home-3 .hero-img {
        position: unset;
        width: 100%
    }
    .home-3 .hero-img img {
        border-radius: 20px
    }
}

@media all and (max-width:991px) {
    .home-3 .hero-img {
        margin-top: 80px
    }
}